*.pt filter=lfs diff=lfs merge=lfs -text
output/building_detector/binary_building_best.pt filter=lfs diff=lfs merge=lfs -text
output/dam_classifier/improved_damage_best.pt filter=lfs diff=lfs merge=lfs -text
